@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Athiti', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../public/images/Template.png');
}

a {
  @apply text-black hover:text-gray-500;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}
.slick-next,
.slick-prev {
  padding: 14px;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  border: none;
  border-radius: 5vw;
  background-color: #fff;
  z-index: 99 !important;
  box-shadow: 0 0 20px 5px rgb(35 35 35 / 50%);
  top: 40%;
}

.img {
  position: absolute;
  top: 100px;
  left: 590px;
}

.box-text {
  position: absolute;
  top: 322px;
  left: 450px;
}

.search {
  position: absolute;
  top: 50px;
  left: 0px;
}

.img2 {
  position: absolute;
  top: 10px;
  left: 15px;
}

.button {
  position: absolute;
  top: 423px;
  left: 950px;
}

.button1 {
  position: absolute;
  top: 0px;
  left: 400px;
}

.icon {
  position: absolute;
  top: 525px;
  left: 185px;
}
